<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 py-0">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2">
    <img
        src="assets/images/SneakerHub.png?width=72&as=webp"
        srcset="
          assets/images/SneakserHub.png?width=72&as=webp 1x,
          assets/images/SneakerHub.png?width=144&as=webp 2x,
          assets/images/SneakerHub.png?width=216&as=webp 3x
        "
        alt="SneakerHub logo"
        width="109"
        height="109"
        decoding="async"
        fetchpriority="high"
      />
  </a>

  <ul class="navbar-nav ms-auto d-flex flex-grow gap-4 align-items-center">
    <li class="nav-item">
      <a class="nav-link"
        [class.active]="activeView === 'list'"
        (click)="goTo('list')">
        Inicio
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        [class.active]="activeView === 'list'"
        (click)="goTo('list')">
        Artículos
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        [class.active]="activeView === 'template'"
        (click)="goTo('template')">
        Nuevo artículo template
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        [class.active]="activeView === 'reactive'"
        (click)="goTo('reactive')">
        Nuevo artículo reactivo
      </a>
    </li>
  </ul>
  </div>

</nav>
