.container {
  padding: 0;
}

.nav-link {
  cursor: pointer;
  transition: color var(--transition-fast);
}

.nav-link:hover {
  color: var(--color-sand) !important;
}

.nav-link.active {
  font-weight: bold;
  color: var(--color-sand) !important;
}
