<div class="card"
  [ngClass]="{
    'on-sale': article.isOnSale,
  }">
  <img
    [src]="article.imageUrl | defaultImage"
    alt="{{ article.name }}"
    [routerLink]="['/article', article.id]"
    >

    <div class="card-body d-flex flex-column">
      <h2 class="card-title">{{  article.name }}</h2>

      <!-- ngClass en el precio: gris si no está en venta -->
      <p class="card-text"
        [ngClass]="{
          'price-unavailable': !article.isOnSale
        }">
        {{  article.price | price }}
      </p>

      <!-- ngIf en el botón: oculto si no está en venta -->
      <div
        *ngIf="article.isOnSale"
        class="d-flex justify-content-center align-items-center gap-2 mt-auto">
        <button
          class="btn btn-outline-dark"
          (click)="decrement()"
          [disabled]="article.quantityInCart === 0">
          -
        </button>
        <span class="fw-bold">{{ article.quantityInCart }}</span>
        <button
          class="btn btn-dark"
          (click)="increment()">
          +
        </button>
      </div>
    </div>
</div>
